<div ng-controller="karyalayListCtrl">
  <div id="layoutKaryalay">
    <div flash-message="5000" ></div>
  </div>
  <div class="container">
    <div class="row">
      <a href="karyalay_create" class="btn btn-success pull-right" role="button">
      <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Create Karyalay</a>
      <legend align="center"> Karyalay Information</legend>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead><tr>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Phone No.</th>
        <th class="text-center">Address</th>
        <th class="text-center">Action</th>
      </tr></thead>
      <tbody><tr ng-repeat="karyalayInfo in karyalayList">
        <td class="text-center">{{ karyalayInfo.karyalay.name }}</td>
        <td class="text-center">{{ karyalayInfo.karyalay.email }}</td>
        <td class="text-center">{{ karyalayInfo.karyalay.phone_number }}</td>
        <td class="text-center">{{ karyalayInfo.karyalay.address }}</td>
        <td class="text-center">
          <a href="karyalay_update" class="btn btn-default" role="button" ng-click="editKaryalay(karyalayInfo.karyalay.id)">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit</a>
          <a class="btn btn-default" role="button" ng-click="deleteKaryalay(karyalayInfo.karyalay.id)">
          <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete</a>
        </td>
      </tr></tbody>
    </table>
  </div>
</div>