<div ng-controller="karyalayUpdateCtrl">
  <div id="layoutKaryalay">
    <div flash-message="5000" ></div>
  </div>
  <div id="karyalayUpdate" class="container-fluid">

    <script type="text/ng-template" id="removeDependency.html">
        <div class="modal-header">
            <h3 class="modal-title">Remove {{items.label}}</h3>
        </div>
        <div class="modal-body">
            {{items.message}} <br>
            Click OK to delete, change will be refelected on clicking update
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!-- <button type="button" class="btn btn-default btn-sm" ng-click="foo()">Logout</button> -->
    <script type="text/ng-template" id="addPandit.html">
      <div class="" id="karyalayPandit">
        <div class="form-group">
          <label class="control-label col-sm-2" for="first_name">First Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="first_name" ng-model="subitem.first_name" placeholder="First Name">
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-danger" aria-label="Left Align" ng-click="removePandit($index)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="last_name">Last Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="last_name" ng-model="subitem.last_name" placeholder="Surname Name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="last_name">Ph. Number:</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" id="phone_number" ng-model="subitem.phone_number" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="last_name">Email:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="email" ng-model="subitem.email" placeholder="pandit@karyalay.com">
          </div>
        </div>
        <hr class="template-seperator">
      </div>
    </script>
    <script type="text/ng-template" id="addCaterer.html">
      <div class="" id="karyalayCaterer">
        <div class="form-group">
          <label class="control-label col-sm-2" for="first_name">First Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="first_name" ng-model="subitem.first_name" placeholder="First Name">
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-danger" aria-label="Left Align" ng-click="removeCaterer($index)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="last_name">Last Name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="last_name" ng-model="subitem.last_name" placeholder="Surname Name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="last_name">Ph. Number:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="phone_number" ng-model="subitem.phone_number" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="last_name">Email:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="email" ng-model="subitem.email" placeholder="caterer@karyalay.com">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="last_name">Speciality:</label>
          <div class="col-sm-6 pandit-email">
            <ui-select multiple ng-model="subitem.specialites" ng-disabled="disabled">
              <ui-select-match placeholder="Select specials...">{{$item}}</ui-select-match>
              <ui-select-choices repeat="specials in availableSpecialites | filter:$select.search">
                {{specials}}
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <hr class="template-seperator">
      </div>
    </script>
    <div class="row">
      <accordion close-others="oneAtATime">
        <accordion-group is-open="status.openKaryalay">
          <accordion-heading>
            Update Karyalay <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openKaryalay, 'glyphicon-chevron-right': !status.openKaryalay}"></i>
          </accordion-heading>
          <fieldset id="karyalayUpdateForm1" class="col-md-11 col-md-offset-2">
            <form name="karyalayUpdateFormValidate" class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Name: <label class="validation-color">*</label></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="email" ng-model="karyalayUpdateForm.name" name="name" placeholder="Enter Name" required>
                  <span class="validation-color" ng-show="karyalayUpdateFormValidate.name.$dirty && karyalayUpdateFormValidate.name.$invalid">
                    <span ng-show="karyalayUpdateFormValidate.name.$error.required">Karyalay name is required.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Address: <label class="validation-color">*</label></label>
                <div class="col-sm-6">
                  <textarea class="form-control" id="pwd" ng-model="karyalayUpdateForm.address" placeholder="Enter Address" name="address" required></textarea>
                  <span class="validation-color" ng-show="karyalayUpdateFormValidate.address.$dirty && karyalayUpdateFormValidate.address.$invalid">
                    <span ng-show="karyalayUpdateFormValidate.address.$error.required">Karyalay address is required.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Lankmark:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="pwd" ng-model="karyalayUpdateForm.location" placeholder="Enter Landmark">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Description:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="pwd" ng-model="karyalayUpdateForm.description" placeholder="Enter Description">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Ph. Number: <label class="validation-color">*</label></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="pwd" ng-model="karyalayUpdateForm.phone_number" placeholder="Enter Number" name="number" ng-pattern="/^[0-9]+$/" required>
                  <span class="validation-color" ng-show="karyalayUpdateFormValidate.number.$error.pattern">Invalid number</span>
                  <span class="validation-color" ng-show="karyalayUpdateFormValidate.number.$dirty && karyalayUpdateFormValidate.number.$invalid">
                    <span ng-show="karyalayUpdateFormValidate.number.$error.required">Karyalay number is required.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Email: <label class="validation-color">*</label></label>
                <div class="col-sm-6">
                  <input type="email" class="form-control" id="pwd" name="email" ng-model="karyalayUpdateForm.email" placeholder="Enter Karyalay Email" required>
                  <span class="validation-color" ng-show="karyalayUpdateFormValidate.email.$dirty && karyalayUpdateFormValidate.email.$invalid">
                    <span ng-show="karyalayUpdateFormValidate.email.$error.required">Email is required.</span>
                    <span ng-show="karyalayUpdateFormValidate.email.$error.email">Invalid email address.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                  <button type="submit" class="btn btn-default" ng-disabled="karyalayUpdateFormValidate.$invalid" ng-click="updateKaryalay()">update</button>
                </div>
              </div>
            </form>
          </fieldset>
        </accordion-group>
        <accordion-group is-open="status.openKaryalayGallery">
          <accordion-heading>
            Karyalay Photo Gallery <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openKaryalayGallery, 'glyphicon-chevron-right': !status.openKaryalayGallery}"></i>
          </accordion-heading>
          <fieldset id="karyalayGalleryForm" class="col-md-11 col-md-offset-2">
            <form name="karyalayUpdateGalleryFormValidity" class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Upload Images:</label>
                <div class="col-sm-3">
                  <input type="file" ngf-select multiple ng-model="karyalayGalleryUpdateForm.picFile" name="file" accept="image/*" ngf-max-size="2MB">
                  <!-- <i ng-show="karyalayUpdateGalleryFormValidity.file.$error.required">*required</i><br> -->
                  <i ng-show="karyalayUpdateGalleryFormValidity.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 2M</i>
                  <img ng-show="karyalayUpdateGalleryFormValidity.file.$valid" ngf-thumbnail="karyalayGalleryUpdateForm.picFile" class="thumb">
                  <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                  <button type="submit" class="btn btn-default" ng-click="updateKaryalayPhotos()">update</button>
                </div>
              </div>
              <div class="text-center karyalay-label">
                <legend> Uploaded Files </legend>
              </div>
              <div class="form-group" ng-if="karyalayPhotos.length > 0">
                   <h5 class="col-sm-9"> **Select checkbox to remove image and click on remove</h5>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                  <div ng-repeat="image in karyalayPhotos" class="col-sm-3">
                    <checkbox class="btn-primary checkbox-on-image" ng-model='karyalayGalleryUpdateForm.selectedImage[image.id]'></checkbox>
                    <img ng-src="{{image.url}}" class="img-thumbnail" ng-class="{'increase-width': image.size < 5000 }">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                  <button type="submit" class="btn btn-default" ng-click="removeKaryalayPhotos()">Remove</button>
                </div>
              </div>
            </form>
          </fieldset>
        </accordion-group>
        <accordion-group is-open="status.openKaryalayAttr">
          <accordion-heading>
            Karyalay Attributes <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openKaryalayAttr, 'glyphicon-chevron-right': !status.openKaryalayAttr}"></i>
          </accordion-heading>
          <fieldset id="karyalayAttrUpdateForm" class="col-md-11 col-md-offset-2">
            <form name="karyalayAttrUpdateFormValidity" class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-3" for="email">Accomodate People:</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="email" ng-model="karyalayAttrUpdateForm.no_of_people" placeholder="People Count">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">No. Of Rooms:</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="email" ng-model="karyalayAttrUpdateForm.no_of_rooms" placeholder="Room Count">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Size In Sq. Feet:</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="pwd" ng-model="karyalayAttrUpdateForm.size_in_sq" placeholder="Size Of Hall">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Price Half Day:</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="pwd" ng-model="karyalayAttrUpdateForm.price_half_day" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Price Full Day:</label>
                <div class="col-sm-3">
                  <input type="number" class="form-control" id="pwd" ng-model="karyalayAttrUpdateForm.price_full_day" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                  <button type="submit" class="btn btn-default" ng-click="updateKaryalayAttr()">update</button>
                </div>
              </div>
            </form>
          </fieldset>
        </accordion-group>
        <accordion-group is-open="status.openKaryalayDependents">
          <accordion-heading>
            Karyalay Dependency <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.openKaryalayDependents, 'glyphicon-chevron-right': !status.openKaryalayDependents}"></i>
          </accordion-heading>
          <fieldset id="karyalayDependentCreateForm" class="col-md-11 col-md-offset-2">
            <form name="karyalaySaveDepCreateFormValidity" class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Provide Offers:</label>
                <div class="col-sm-1">
                  <checkbox class="btn-info align-checkbox" ng-model="karyalayAttrDepUpdateForm.provide_offers"></checkbox>
                </div>
                <label class="control-label col-sm-3" for="pwd">Provide Samagri:</label>
                <div class="col-sm-1">
                  <checkbox class="btn-info align-checkbox" ng-model="karyalayAttrDepUpdateForm.has_samagri"></checkbox>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Has A/C:</label>
                <div class="col-sm-1">
                  <checkbox class="btn-info align-checkbox" ng-model="karyalayAttrDepUpdateForm.has_ac"></checkbox>
                </div>
                <label class="control-label col-sm-3" for="pwd">Has Pandit:</label>
                <div class="col-sm-1">
                  <checkbox class="btn-info align-checkbox" ng-model="karyalayAttrDepUpdateForm.has_pandit" ng-change="uncheckedPandit()"></checkbox>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Has Caterer:</label>
                <div class="col-sm-1">
                  <checkbox class="btn-info align-checkbox" ng-model="karyalayAttrDepUpdateForm.has_caterer" ng-change="uncheckedCaterer()"></checkbox>
                </div>
                <label class="control-label col-sm-3" for="pwd">Has Garden:</label>
                <div class="col-sm-1">
                  <checkbox class="btn-info align-checkbox" ng-model="karyalayAttrDepUpdateForm.has_garden"></checkbox>
                </div>
              </div>
            </form>
            <form name="karyalaySaveCreateFormValidity" class="form-horizontal" role="form">
              <div ng-show="karyalayAttrDepUpdateForm.has_samagri">
                <div class="text-center karyalay-label">
                  <legend> Add Samagri </legend>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="category">Add Category:</label>
                  <div class="col-sm-6">
                    <ui-select ng-model="category.selected" ng-disabled="disabled" on-select="fetchTags()">
                      <ui-select-match placeholder="Select Category">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="category in categoryItems | propsFilter: {name: $select.search, id: $select.search}">
                        <div ng-bind-html="category.name | highlight: $select.search"></div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div ng-show="category.hasSelected">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="tags">Add Items:</label>
                    <div class="col-sm-6">
                      <ui-select multiple ng-model="multipleItmes.selectedItem" ng-disabled="disabled" on-select="selectItem($item, $model)" on-remove="removeItem($item, $model)">
                        <ui-select-match placeholder="Select item...">{{$item.name}} &#40;{{$item.category}}&#41;</ui-select-match>
                        <ui-select-choices repeat="item in items | propsFilter: {name: $select.search, id: $select.search}" refresh="refreshTagNames($select.search)" refresh-delay="0">
                          <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-show="karyalayAttrDepUpdateForm.has_caterer">
                <div class="text-center karyalay-label">
                  <legend> Create Caterer </legend>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Select Caterer:</label>
                  <div class="col-sm-6">
                    <label class="radio-inline"> <input type="radio" ng-model="radioAppointment.selected_caterer_type" ng-init="radioAppointment.selected_caterer_type = 2" ng-value=2 ng-change="changeCatererType()"> New </label>
                    <label class="radio-inline"> <input type="radio" ng-model="radioAppointment.selected_caterer_type" ng-value=1 ng-change="changeCatererType()"> Existing </label>
                  </div>
                </div>
                <div ng-show="showNewCaterer">
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-1">
                      <button type="button" class="btn btn-default btn-success" aria-label="Left Align" ng-click="addCaterer()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Caterer
                      </button>
                    </div>
                  </div>
                  <div ng-repeat="subitem in selectCatererDetails.subitems track by $index">
                    <sub-caterer-item-partial></sub-item-partial>
                  </div>
                </div>
                <div ng-hide="showNewCaterer">
                  <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2">
                      <ui-select multiple ng-model="multipleItmes.selectedCaterer" ng-disabled="disabled">
                        <ui-select-match placeholder="Select caterer...">{{$item.first_name}} {{$item.last_name}}</ui-select-match>
                        <ui-select-choices repeat="catererSel in catererList | propsFilter: {first_name: $select.search, last_name: $select.search}">
                          <div ng-bind-html="catererSel.first_name + ' ' + catererSel.last_name| highlight: $select.search"></div>
                          <small>
                            email: {{catererSel.email}}
                            phone: <span ng-bind-html="''+catererSel.phone_number | highlight: $select.search"></span>
                          </small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-show="karyalayAttrDepUpdateForm.has_pandit">
                <div class="text-center karyalay-label">
                  <legend> Create Pandit </legend>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Select Pandit:</label>
                  <div class="col-sm-6">
                    <label class="radio-inline"> <input type="radio" ng-model="radioAppointment.selected_pandit_type" ng-init="radioAppointment.selected_pandit_type = 2" ng-value=2 ng-change="changePanditType()"> New </label>
                    <label class="radio-inline"> <input type="radio" ng-model="radioAppointment.selected_pandit_type" ng-value=1 ng-change="changePanditType()"> Existing </label>
                  </div>
                </div>
                <div ng-show="showNewPandit">
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-1">
                      <button type="button" class="btn btn-default btn-success" aria-label="Left Align" ng-click="addPandit()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Pandit
                      </button>
                    </div>
                  </div>
                  <div ng-repeat="subitem in selectPanditDetails.subitems track by $index">
                    <sub-pandit-item-partial></sub-item-partial>
                  </div>
                </div>
                <div ng-hide="showNewPandit">
                  <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2">
                      <ui-select multiple ng-model="multipleItmes.selectedPeople" ng-disabled="disabled">
                        <ui-select-match placeholder="Select pandit...">{{$item.first_name}} {{$item.last_name}}</ui-select-match>
                        <ui-select-choices repeat="person in panditList | propsFilter: {first_name: $select.search, last_name: $select.search}">
                          <div ng-bind-html="person.first_name + ' ' + person.last_name| highlight: $select.search"></div>
                          <small>
                            email: {{person.email}}
                            phone: <span ng-bind-html="''+person.phone_number | highlight: $select.search"></span>
                          </small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-3">
                  <button type="submit" class="btn btn-default" ng-click="updateKaryalayDependency()">update</button>
                </div>
              </div>
            </form>
          </fieldset>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>