// Place all the styles related to the KaryalayLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Image for the branch
.brand-image {
  margin-top: -25%;
  width: 125%;
  height: 248%;
}

// Layout for karyalay
#layoutKaryalay {
  margin-top: 2%;
}

// Create Karyalay
#karyalayCreate {
  width: 80%;

  .validation-color {
    color:red;
  }

  #karyalayCreateForm {
    margin-top: 5%;

  }

  #karyalayAttrCreateForm {
    .align-checkbox {
      margin-top: 10%;
    }
  }

  #karyalayDependentCreateForm {
    .karyalay-label {
      width: 80%;
      margin-bottom: 2%;
    }

    .dependent-last-field {
      margin-bottom: 3%;
    }

    .template-seperator {
      width: 80%;
      margin-left: 0%;
    }
  }
}

// Update Karyalay
#karyalayUpdate {
  width: 80%;

  .validation-color {
    color:red;
  }

  #karyalayDependentCreateForm {
    .karyalay-label {
      width: 80%;
      margin-bottom: 2%;
    }

    .dependent-last-field {
      margin-bottom: 3%;
    }

    .template-seperator {
      width: 80%;
      margin-left: 0%;
    }
  }
}

.karyalay-lists {
  .karyalay-lists-name {
    a:visited {
      color: #337ab7;
    }
  }

  .karyalay-lists-book {
    a:visited {
      color: #333;
    }
  }
}


// Karyalay modal update and create
.karyalay-book-modal {
  .align-checkbox {
    margin-top: 70%;
  }

  .text-align-to {
    text-align: center !important;
  }

  .datepicker-size {
    width:88%;
    float: left;
  }

  .timepicker-div ul {
    height: 400%;
    overflow-y: auto !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}